<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Users\ctsdotnetfsd01\source\repos\InventoryManagementService\InventoryManagementSystem\internallog.txt">
	<extensions>
		<add assembly ="NLog.Extended"></add>
	</extensions>

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="C:\Users\ctsdotnetfsd01\source\repos\InventoryManagementService\InventoryManagementSystem/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>